.about {
    margin: 0 auto;
    padding: 200px 0;
    max-width: 1000px;

}

.about__container {
    display: flex;
}

.about__left {
    width: 40%;
    margin-right: 10%;
}

.about__right {
    width: 60%;
}