.btn {
    width: 347px;
    height: 80px;
    background: linear-gradient(to right, #d0731b 0%, #dc9322 100%);
    color: $main-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;

    &:hover {
        background: linear-gradient(to right, #dc9322 0%, #d0731b 100%);
    }
}