.home {
    height: 100vh;
    max-height: 1000px;
    min-height: 650px;
    padding: 350px 0 45px;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home__content,
.home__btns {
    display: flex;
    justify-content: center;
}

.home__content {
    align-items: center;
}