.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.nav-wrapper {
    margin: 0 90px;
}

.nav__link {

    &:hover {
        color: $orange-color;
    }
}