.nav__list {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    
}

.nav__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }
}

.header__wrapper-nav {
    margin: 0 6.5%;
    
    @include tablets {
        display: none;
    }
}

.nav__link {
    color: $main-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    transition: color $speed;
    
    &:hover {
        color: $orange-color;
    }
}