.person-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.person-info__avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 80px;
}

.person-info__data-row {
    font-weight: 600;

    :first-child {
        opacity: 0.15;
        color: $main-color;
        font-size: 16px;
        line-height: 1.88;
        padding-right: 80px;
    }
}