.person {
    display: flex;
    justify-content: center;
}

.person__name {
    width: 411px;
    font-size: 72px;
    font-weight: 800;
    line-height: 0.83;
    color: $main-color;
}

.person__desc {
    width: 165px;
    max-width: 165px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.4;
    text-align: right;
    line-height: 1.67;
    margin-right: 60px;
    color: $main-color;
    font-weight: 600;

}

.person-info__avatar {
    width: 200px;
    height: 200px;
}