.reviews__avatar {
    width: 75px;
    height: 75px;
}

.reviews-blocks {
    max-width: 828px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.reviews__list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

