.socials__list {
    display: flex;
}

.social__item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
    width: 25px;
    height: 25px;
    fill: $main-color;
    opacity: 0.3;

    &:hover {
        fill: $main-color;
        opacity: 1;
    }
}