.tags-wrap {
    margin-bottom: 50px;
}

.tags {
    display: flex;
}

.tags__item {
    padding: 15px 20px;
    background-color: #859ec2;
    border-radius: 1.875rem;
    margin-right: 10px;
    color: $gray-color;

    &:last-child {
        margin-right: 0;
    }
}
