.title {
    color: $gray-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.33;
}

.title-works {
    margin-bottom: 95px;
}

.feedback__title,
.reviews__title {
    color: $main-color;
}