.value {
    background-image: url('~images/bg-value.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.value__container {
    padding-left: 25%;
}