section.skills-section#skills-section
    .container.skills-section__container
        .skills-section__info-container
            .skills-section__info
                .skills-section__info-title Чем я могу быть полезен вам?
                .skills-section__info-subtitle
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #skills-component