script(type='text/x-template')#reviews-container
    section.reviews#reviews
        .container.reviews__container
            .reviews__header
                h2.title.reviews__title Что обо мне говорят
                .reviews__controls
                    .reviews__arrows-btns
                        button(
                            type='button'
                            @click='previous()'
                            ).reviews__arrow-btn.reviews__arrow-btn--next.disabled
                            +icon('arrow-down', 'arrow-icon-prev')
                        button(type='button' @click="next()").reviews__arrow-btn.reviews__arrow-btn--prev
                            +icon('arrow-down', 'arrow-icon-next')
            .reviews-blocks
                flickity.flickity(ref='flickity' :options="flickityOptions")
                    li.reviews__item.carousel-cell(v-for='review in reviews')
                        review(
                            :review='review'
                        )

script(type='text/x-template')#review-item
    .reviews__item-wrap
        .reviews__text {{review.text}}
        .reviews__user
            .reviews__avatar
                .avatar
                    img(:src="review.photo", alt='', class='avatar__img')
            .reviews__user-info
                .reviews__username {{review.author}}
                .reviews__position {{review.position}}