.home {
    height: 100vh;
    min-height: 650px;
    position: relative;
}

.home__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home__btns {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    @include tablets {
        display: none;
    }
}
