.admin-wrapper {
    background-image: url('~images/content/train-bridge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.admin {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}