.review-block__header {
    display: flex;
    align-items: center;
}

.review-block__container {
    padding: 55px 0;
}

.review-block__blocks {
    padding: 55px 0;
}

.review-block__content {
    margin-top: 55px;
}

.review-blocks__list {
    display: flex;
    margin-right: -3%;
    flex-wrap: wrap;
}
.review-block__item {
    flex-basis: calc(100% / 3 - 3%);
    min-height: 380;
    margin-right: 3%;
    margin-bottom: 30px;
}