.tags {
    display: flex;
}

.tags__item {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 5px 15px;
    color: rgba(#283340, 0.7);
    font-size: 13px;
    font-weight: 600;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}