.work-block__header {
    display: flex;
    align-items: center;
}

.work-block__container {
    padding: 55px 0;
}

.work-block__blocks {
    padding: 55px 0;
}

.work-block__content {
    margin-top: 55px;
}

.work-blocks__list {
    display: flex;
    margin-right: -3%;
    flex-wrap: wrap;
}
.work-block__item {
    flex-basis: calc(100% / 3 - 3%);
    min-height: 500;
    margin-right: 3%;
    margin-bottom: 30px;
}