.tags-wrap {
    margin-bottom: 50px;
}

.slider-tags {
    display: flex;
    white-space: nowrap;

    @include tablets {
        justify-content: center;
    }
}

.slider-tags__item {
    padding: 15px 20px;
    background-color: #f3f5f9;
    border-radius: 1.875rem;
    margin-right: 10px;
    color: $gray-color;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 600;

    &:last-child {
        margin-right: 0;
    }
}
