.works-section__container {
    padding: 200px 0;

        @include desktop {
            padding: 140px 0;
        }

        @include phones {
            padding: 100px 0;
            width: 100%;
        }
}

.works-section__title {
    margin-bottom: 95px;

    @include desktop {
        margin-bottom: 65px
    }

    @include phones {
        text-align: center;
        font-size: 30px;
        margin-bottom: 35px
    }
    
}