section.about#about
    .container.about__container
        .about__left
            .about__person-info
                .about__person-info__avatar
                    .avatar
                        +image('content/my-photo.jpg', 'avatar__img', 'Сергеев Владимир')
                .about__person-info__text
                    -
                        var rowsPersonInfo = [
                            ['Нахожусь:', 'Россия'],
                            ['Специализация:', 'Frontend (Vue/Nuxt)'],
                            ['Опыт работы:', 'Более 4 лет']
                        ];

                    table.about__person-info__data
                        table.about__person-info__data-table
                            each row in rowsPersonInfo
                                tr.about__person-info__data-row
                                    each cell in row
                                        td #{cell}
        .about__right
            .about__welcome-text Привет, меня зовут
            .about__person-name Владимир Сергеев
            .about__desc
                | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__extra-desc
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
