header.header
    .container.header__container
        .header__logo ะะก

        .header__wrapper-nav
            include ../nav

        .header__socials
            include ../socials

        button.header__hamburger-btn.hamburger-btn
            .hamburger-btn__line
            .hamburger-btn__line
            .hamburger-btn__line
        
        .header__sidebar
            include ../sidebar

