section.home
    .container.home__container
        .home__content
            .home__content-info
                .home__desc Личный сайт &nbsp; веб разработчика
                h1.home__name Владимир Сергеев

        .home__btns
            .scroll
                a(href='javascript:void(0);').scroll__btn Скролл
                    +icon('scroll', 'scroll__icon')