section.home#home
    .container.home__container
        .home__btns
            .scroll
                button(
                    type='button'
                    href='#about'
                ).scroll__btn Скролл
                    +icon('scroll', 'scroll__icon')