.home-parallax
    .home-parallax__layer.home-parallax__layer--sky(data-speed='0')
        +image('parallax/sky.png', 'home-parallax__img')
    .home-parallax__layer.home-parallax__layer--mountains(data-speed='7')
        +image('parallax/mountains.png', 'home-parallax__img')
    .home-parallax__layer.home-parallax__layer--title(data-speed='9')
        .home-title
                .home-title__desc Личный сайт <br/> веб разработчика
                h1.home-title__name Владимир Сергеев
    .home-parallax__layer.home-parallax__layer--train(data-speed='7')
        +image('parallax/train.png', 'home-parallax__img')
    .home-parallax__layer.home-parallax__layer--ground(data-speed='3')
        +image('parallax/ground.png', 'home-parallax__img')
    .home-parallax__layer.home-parallax__layer--gradient-one(data-speed='3')
    .home-parallax__layer.home-parallax__layer--gradient-two(data-speed='3')