footer.footer
    .container.footer__container
        .footer__block.footer__block--small
            .footer__block-col
                .footer__copyright-text © 2020
            .footer__block-col
                .footer__person
                    .footer__person-name Владимир Cергеев
                    .footer__person-site Личный сайт веб-разработчика

        .footer__block.footer__block--big
            .footer__block-row
                .footer__nav
                    include nav

            .footer__block-row.footer__block-row--flex
                .footer__extra
                    .footer__extra-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .footer__socials
                        include socials
                .footer__quote
                    .footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__quote-author Martin Golding