section.home
    .container.home__container
        .home__content
            .person
                h2.person__desc Личный сайт<br>веб разработчика
                h1.person__name Владимир Сергеев

        .home__btns
            .scroll
                a(href='#').scroll__btn Скролл
                    +icon('scroll', 'scroll__icon')