nav.nav
    - var nav = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
        ul.nav__list
            each item in nav
                li.nav__item
                    a.nav__link(href='#') #{item}