section.reviews
    .container.reviews__container
        .reviews__header
            h2.title.reviews__title Что обо мне говорят
            .reviews__controls
                .arrows-btns
                    a.arrow-btn.arrow-btn--next
                    a.arrow-btn.arrow-btn--prev
        .reviews-blocks
            ul.reviews__list
                li.reviews__item
                    .reviews__text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                        | 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user
                        .reviews
                            .reviews__avatar
                                .avatar
                                    +image('content/user.jpg', 'avatar__img', 'Сергеев Владимир')
                            .reviews__user-info
                                .reviews__username Ковальчук Дмитрий
                                .reviews__position Основатель Loftschool
                li.reviews__item
                    .reviews__text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                        | 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user
                        .reviews
                            .reviews__avatar
                                .avatar
                                    +image('content/user.jpg', 'avatar__img', 'Сергеев Владимир')
                            .reviews__user-info
                                .reviews__username Ковальчук Дмитрий
                                .reviews__position Основатель Loftschool
                li.reviews__item
                    .reviews__text
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                        | 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user
                        .reviews
                            .reviews__avatar
                                .avatar
                                    +image('content/user.jpg', 'avatar__img', 'Сергеев Владимир')
                            .reviews__user-info
                                .reviews__username Ковальчук Дмитрий
                                .reviews__position Основатель Loftschool