section.value
    .container.value__container
        .value__info
            .value__info-title Чем я могу быть полезен вам
            .value__info-subtitle
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__wrapper
            h3.skills__subtitle Front-end
            ul.skills__list
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='210' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech HTML5
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='200' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech CSS3
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='300' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech Javascript
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='220' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech Jquery и Vue.js
            h3.skills__subtitle Workflow
            .skills__list
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='310' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech GIT
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='250' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech Terminal
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='300' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech Gulp
                li.skills__item
                    svg.skills__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                        circle.skills__circle.skills__circle--under(cx='50' cy='50' r='40')
                        circle.skills__circle.skills__circle--above(cx='50' cy='50' r='40' stroke-dashoffset='290' transform='rotate(180 50 50)' stroke='url(#gradient)')
                        linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                            stop(offset='0%' stop-color='#d0731b')
                            stop(offset='100%' stop-color='#dc9322')
                    h4.skills__tech Webpack