section.works
    .container.works__container
        h2.title.title-works Мои работы
        .slider
            .slider__display
                +image('content/work-1.jpg', 'slider__display-pic')
                .slider__display-thumbs
                    ul.slider-thumbs
                        - var thumbnails = ['content/work-1.jpg', 'content/work-2.jpg', 'content/work-3.jpg'];
                            each thumbnail in thumbnails
                                li.slider-thumbs__item
                                    +image(thumbnail, 'slider__display-pic')

                .slider__btns
                    .arrows-btns
                        a.arrow-btn.arrow-btn--next
                            +icon('arrow-down', 'arrow-icon-prev')
                        a.arrow-btn.arrow-btn--prev
                            +icon('arrow-down', 'arrow-icon-next')

            .slider__info
                .slider__tags
                    .tags-wrap
                        ul.tags
                            - var tags = ['HTML', 'CSS', 'Javascript'];
                                each tag in tags
                                    li.tags__item #{tag}
                .slider__info-text
                    h3.slider__info-title Сайт школы образования
                    .slider__info-desc
                        | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .slide__desc-btns
                    a.iconend-link
                        +icon('link', 'link__icon')
                        | Посмотреть сайт