include templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Портфолио | Владимир Сергеев
  body
    .wrapper
        .welcome-section
          include templates/components/welcome-parallax
          include templates/components/header
          include templates/components/home
          include templates/components/about
        include templates/components/value
        include templates/components/works
        .feedback-section
          include templates/components/feedback-parallax
          include templates/components/reviews
          include templates/components/feedback
        include templates/components/footer
    include templates/components/popup-menu