include templates/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Портфолио | Владимир Сергеев
    link(rel="icon", type="image/png" href=require("./favicon.png"))
    style.
      .preloader {
        overflow: visible;
        background: #1c2326;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
      }
      .preloader-block {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 72px;
        height: 72px;
        margin-left: -36px;
        margin-top: -36px;
        z-index: 1000;
      }
      .preloader-box {
        float: left;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      .preloader-box:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
      }
      .preloader-box:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 6px;
      }
      .preloader-box:nth-child(1):before, .preloader-box:nth-child(4):before {
        margin-left: 26px;
      }
      .preloader-box:nth-child(3):before {
        margin-top: 52px;
      }
      .preloader-box:last-child {
        margin-bottom: 0;
      }

  body
    .preloader.visible
      .preloader-block
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
        .preloader-box
    .wrapper
      .welcome-section
        include templates/components/welcome-section/home-parallax
        include templates/components/welcome-section/header
        include templates/components/welcome-section/home
        include templates/components/welcome-section/about
      include templates/components/skills-section/skills-section
      include templates/components/works-section/works-section
      .feedback-section
        include templates/components/feedback-section/feedback-parallax
        include templates/components/feedback-section/reviews-section
        include templates/components/feedback-section/feedback
      include templates/components/footer
    include templates/entry.pug